.git
.gitignore
.env
.env.*
venv/
.venv/
node_modules/
media/
models/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
db.sqlite3
pgdata/
docker/pgdata/
transcriptionAPI/__pycache__/
web/node_modules/
tests/
tmp/
.vscode/
.idea/
poetry.lock
LICENSE
README.md
